/* ================= AKUN MODULE ================= */

.akun-page-title{
  font-size:18px;
  font-weight:600;
  margin-bottom:16px;
}

.akun-back{
  font-size:14px;
  margin-bottom:12px;
  cursor:pointer;
  color:var(--color-text-muted);
}

.akun-back:active{
  color:var(--color-highlight);
}

.akun-section{
  margin-bottom:20px;
}
