.wallet-container{
  padding:20px;
}

.wallet-card{
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  border-radius:20px;
  padding:24px;
  color:white;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.wallet-label{
  font-size:14px;
  opacity:0.8;
}

.wallet-balance{
  font-size:28px;
  font-weight:700;
  margin-top:8px;
}

.wallet-actions{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.wallet-actions button{
  flex:1;
  margin:0 5px;
  padding:12px;
  border-radius:12px;
  border:none;
  font-weight:600;
  background:#1e293b;
  color:white;
  cursor:pointer;
}
.trx-card{
  background:#111827;
  padding:14px;
  border-radius:14px;
  margin-top:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:white;
}

.trx-type{
  font-weight:600;
}

.plus{
  color:#22c55e;
}

.minus{
  color:#ef4444;
}
